@model bs.Models.Uninterruptible

@{
    ViewData["Title"] = "Editar UPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3 class="mt-4">Editar UPS</h3>
    <hr />
<div class="row">
    <div class="col-md-6">
            <form asp-action="Edit" class="row g-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpsId" />
                
                <div class="form-group col-md-5">
                <label asp-for="UpsName" class="control-label"></label>
                <input asp-for="UpsName" class="form-control" />
                <span asp-validation-for="UpsName" class="text-danger"></span>
            </div>
                <div class="form-group col-md-5">
                <label asp-for="UpsModel" class="control-label"></label>
                <input asp-for="UpsModel" class="form-control" />
                <span asp-validation-for="UpsModel" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="UpsPower" class="control-label"></label>
                <input asp-for="UpsPower" class="form-control" />
                <span asp-validation-for="UpsPower" class="text-danger"></span>
            </div>
                <div class="col-md-4">
                    <div class="form-check m-3 p-3">

                        <label asp-for="UpsManageable" class="control-label"></label>
                        <input id="UpsManageable" asp-for="UpsManageable" class="form-check-input" />
                        <span asp-validation-for="UpsManageable" class="text-danger"></span>
                    </div>
                </div>

                <div id="UpsIpAddress" class="form-group col-md-5 mt-4">

                    <label asp-for="UpsIpAddress" class="control-label"></label>
                    <input id="UpsIpAddressInput" type="text" minlength="7" maxlength="15" size="15" pattern="^(([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3}):){7}([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3})$" asp-for="UpsIpAddress" class="form-control" />
                    <span asp-validation-for="UpsIpAddress" class="text-danger"></span>
                </div>

                <div class="container"></div>
                <div class="form-group col-md-4">
                <label asp-for="UpsModules" class="control-label"></label>
                <input asp-for="UpsModules" class="form-control" />
                <span asp-validation-for="UpsModules" class="text-danger"></span>
            </div>
                <div class="form-group col-md-4">
                <label asp-for="UpsBatteries" class="control-label"></label>
                <input asp-for="UpsBatteries" class="form-control" />
                <span asp-validation-for="UpsBatteries" class="text-danger"></span>
            </div>
                <div class="form-group col-md-5">
                    <label asp-for="AgencyId" class="control-label m-1"></label>
                    <select asp-for="AgencyId" class="form-select" asp-items="ViewBag.AgencyId"></select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>
                <div class="form-group m-1 p-3">
                    <input type="submit" value="Guardar" class="btn btn-success" /> |
                    <button type="button" class="btn btn-danger"><a class="text-decoration-none text-light" asp-action="Delete" asp-route-id="@Model?.UpsId">Eliminar</a></button> |
                    <button type="button" class="btn btn-dark "><a class="text-decoration-none text-light" asp-action="Index">Cancelar</a></button>
                </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    <script>window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.js"><\/script>')</script>
    <script>
        $(document).ready(function () {

            if ($("#UpsManageable").is(":checked")) {
                $("#UpsIpAddress").show();
            } else {
                $("#UpsIpAddress").hide();
            }

            $("#UpsManageable").click(function () {
                if ($(this).is(":checked")) {
                    $("#UpsIpAddress").show(300);
                } else {
                    $("#UpsIpAddress").hide(200);
                }
            });
        });


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
