@{
    ViewData["Title"] = "Información";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <div class="row">
        
        <div class="col-sm-7">
            <h3 class="fw-bold p-3 m-2">Reemplazar baterías de UPS</h3>  
            <br>
            <p>
                Es una aplicación web desarrollada para monitorear los cambios de baterías de UPS de la región occidental
                del Banco de Occidente S.A, controlado y monitoreado por el Departamento de Tecnologías de Información,
                en el área de Infraestructura y Taller.
                <br>
                <br>
                El análisis y diseño, desarrollo, publicación de la primera versión de esta aplicación web fué hecha por el estudiante de
                Ingeniería en Sistemas, Cristian Andres Enamorado, del Centro Regional Universitario de Occidente CUROC, de
                la Universidad Nacional Autónoma de Honduras UNAH.
                <br>
                <br>
                Su repositorio se encuentra en GitHub <a class="text-decoration-none text-info" href="https://github.com/cityanx/bsLe.git" target="_blank">aquí</a>.
                <br>


            </p>
        </div>
        <div class="col-sm-4 m-3 mt-5">
            <img src="~/images/upsWP.jpg" class="img-thumbnail" alt="...">
        </div>
    </div>
</body>
</html>
