@model bs.Models.BatteryChange

@{
    ViewData["Title"] = "Cambio de baterías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.js"><\/script>')</script>
</head>
<body>
    <div class="container">

        <h3 class="mt-4 mb-4 pb-3 fw-bold">Añadir cambio de baterías</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="CreateID" class="row g-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="BatteryChangeDate" class="control-label"></label>
                        <input id="DateToday" type="date" asp-for="BatteryChangeDate" class="form-control" />
                        <span asp-validation-for="BatteryChangeDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label asp-for="AgencyId" class="control-label"></label>
                        @Html.DropDownList("AgencyId", ViewBag.AgencyId as List<SelectListItem>,
                        "Seleccionar", new { @class = "form-select" })

                    </div>
                    <div class="form-group col-md-7">
                        <label asp-for="UpsId" class="control-label"></label>
                        @Html.DropDownList("UpsId", new List<SelectListItem>(),
                        "Seleccionar", new { @class = "form-select" })
                    </div>


                    <div class="form-group">
                        <label asp-for="BatteryChangeComments" class="control-label"></label>
                        <textarea id="BatteryChangeComments" asp-for="BatteryChangeComments" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="BatteryChangeComments" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="ModulesInst" class="control-label"></label>
                        <input id="ModulesInst" asp-for="ModulesInst" class="form-control" />
                        <span asp-validation-for="ModulesInst" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="BatteriesInst" class="control-label"></label>
                        <input id="BatteriesInst" asp-for="BatteriesInst" class="form-control" />
                        <span asp-validation-for="BatteriesInst" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <fieldset>
                            Años para el próximo cambio
                            <select id="NextChange" name="NextChange" class="form-select">

                                <option selected disabled value="">Seleccionar</option>

                                <option value="4">4 años</option>

                                <option value="3">3 años</option>

                                <option value="2">2 años</option>

                                <option value="1">1 año</option>
                            </select>
                        </fieldset>

                    </div>
                    @{

                    }
                    <div class="form-group mb-2 col-md-5">
                        <label asp-for="BatteryChangeNext" class="control-label"></label>
                        <input id="BatteryChangeNext" type="date" asp-for="BatteryChangeNext" readonly class="form-control-plaintext fw-bold text-danger" />
                        <span asp-validation-for="BatteryChangeNext" class="text-danger"></span>
                    </div>
                    <div class="form-group m-1">
                        <input type="submit" value="Añadir" class="btn btn-success m-1" />
                        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>



        @section Scripts {
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.js"><\/script>')</script>
            <script>
                $(document).ready(function () {
                    $("#NextChange").prop("disabled",true);
                    $("#UpsId").prop("disabled", true);
                    $("#AgencyId").prop("disabled", true);
                    $("#BatteryChangeComments").prop("disabled", true);
                    $("#ModulesInst").prop("disabled", true);
                    $("#BatteriesInst").prop("disabled", true);

                    $("form option:first-child").attr("disabled", "disabled");

                    $("#DateToday").change(function () {
                        $("#AgencyId").prop("disabled", false);
                    });

                    $("#AgencyId").change(function () {
                        $("#UpsId").prop("disabled", false);
                        $.get("/BatteryChanges/GetUPS", { AgencyId: $("#AgencyId").val() }, function (data) {
                            // vaciar DropDownList
                            $("#UpsId").empty();
                            
                            // nuevo label según selección

                            $("#UpsId").append("<option value>Seleccionar UPS de Ag. " + $("#AgencyId option:selected").text() + "</option>");
                            $("form option:first-child").attr("disabled", "disabled");
                            // se construye el DropDownList a partir de resultado Json (data)

                            $.each(data, function (index, row) {



                                $("#UpsId").append("<option value='" + row.upsId + "'>" + row.upsModel + "</option>");
                                


                            });
                        });
                    });

                    $("#UpsId").change(function () {
                        $("#NextChange").prop("disabled", false);
                        $("#BatteryChangeComments").prop("disabled", false);
                        $("#ModulesInst").prop("disabled", false);
                        $("#BatteriesInst").prop("disabled", false);
                    });

                    $("#NextChange").change(function () {
                        var cod = document.getElementById("NextChange").value;



                        var fecha = new Date($("#DateToday").val());
 
                        switch (cod) {

                            case "1":
                                
                                fecha.setFullYear(fecha.getFullYear() + 1); // Hace el cálculo
                                
                                break;
                            case "2":
                                fecha.setFullYear(fecha.getFullYear() + 2); 
                                
                                break;
                            case "3":
                                fecha.setFullYear(fecha.getFullYear() + 3); 
                                
                                break;
                            case "4":
                                fecha.setFullYear(fecha.getFullYear() + 4); 
                                
                                break;
                            default:
                                break;
                        }
                        var day = ("0" + (fecha.getDate() + 1)).slice(-2);
                        var month = ("0" + (fecha.getMonth() + 1)).slice(-2);

                        var today = fecha.getFullYear() + "-" + (month) + "-" + (day);

                        
                        
                        
                        $("#BatteryChangeNext").val(today);
                });

          });
            </script>

            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }

        }

    </div>
</body>
</html>